*{
    margin: 0;
    padding: 0;
  }
  nav{
    z-index: 1000;
    padding: 15px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: #ffffff;
  }
  nav h1{
    font-size: 30px;
  }
  nav .right{
    width: 130px;
  }
  nav ul{
    display: flex;
    justify-content: space-between;
    cursor: pointer;
  }
  nav ul li {
    border-radius: 5px;
    padding: 5px;
    transition: 0.3s;
  }
  nav ul li a{
    text-decoration: none;
    color: #fff;
  }
  nav ul li:hover{
    font-weight: bold;
    color: #000;
    background-color: #fff;
  }
  nav ul li a:hover{
    color: #000;
  }
  .search-bar{
    background-color: inherit;
    padding: 25px 0px;
    display: flex;
    justify-content: center;
  }
  #search-bar{
    padding: 8px;
    font-size: 16px;
    font-weight: bold;
    border: 2px solid lightseagreen;
    border-radius: 5px;
  }
  #search-button{
    padding: 9px;
    border-radius: 5px;
    background-color: black;
    color: #ffffff;
    font-weight: bold;
  }
  .details-container{
    padding: 20px;
  }
  .details-of-search{
    padding: 20px;
    background-color: #ffffffde;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
  .details-of-search .definition h2{
    font-size: 35px;
  }
  ::-webkit-scrollbar{
    display: none;
  }
  .audio-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .details-of-search .definition .audio-container .audio-div .heading{
    font-size: 20px;
  }
  #main{
    border-bottom: 2px solid black;
  }
  .meanings{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .meanings .noun-div{
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .history-heading{
    text-align: center;
    background-color: lightslategray;
    text-align: center;
    padding: 20px;
  }
  .history-container{
    padding: 20px;
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
  }
  .history{
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 25px;
    text-decoration: none;
    transition: 0.3s;
  }
  .history:hover{
    background-color: lightslategray;
    color: #fff;
    cursor: pointer;
  }
  .main-div{
    background-color: aliceblue;
    animation : searchbar 500ms linear infinite;
  }
  @keyframes searchbar {
    0%{
      background-color: aliceblue;
    }
    20%{
      background-color: green;
    }
    40%{
      background-color: red;
    }
    60%{
      background-color: blue;
    }
    80%{
      background-color: yellow;
    }
    100%{
      background-color: aliceblue;
    }
  } 
  main.normal{
    background-color: aliceblue;
  }